.content {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
}
.content-center {
  display: grid;
  margin: 16px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  position: sticky;
  top: 61px;
}
.content-left-pan,
.content-right-pan {
  height: 160px;
  background-color: rgba(0, 0, 0, 0.1);
  margin: 6px;
  position: sticky;
  top: 61px;
  border-radius: 16px;
}
.content-left-pan {
  margin-right: 0;
}
.content-right-pan {
  margin-left: 0;
}
.announcement {
  display: grid;
  height: auto;
  width: 95%;
  margin-top: 8px;
  background-color: red;
  border-radius: 10px;
  justify-self: center;
}
.announcement>p {
  font-family: Onest, ui-sans-serif;
  font-weight: 800;
  font-size: 24px;
  margin: 0;
  padding: 8px;
  text-align: center;
  align-self: center;
}
.last-match {
  display: grid;
  flex-direction: column;
  justify-self: center;
  justify-content: center;
  margin-block: 16px;
  margin-inline: 14px;
}
.last-match>h2 {
  font-family: Onest, ui-sans-serif;
  font-weight: 800;
  font-size: 24px;
  margin: 0;
}
iframe {
  border-radius: 8px;
  border: none;
}
.last-match>a {
  display: none;
}

@media (max-width: 768px) {
  .content-left-pan,
  .content-right-pan {
    display: none;
  }
  .content {
    grid-template-columns: 1fr;
  }
  iframe {
    width: auto;
    height: auto;
  }
  .last-match>p {
    font-size: 16px;
  }
}
@media (max-width: 450px) {
  iframe {
    width: 200px;
    height: 100px;
  }
}
@media (max-width: 250px) {
  .last-match>iframe {
    display: none;
  }
  .last-match>a, .last-match>a>img {
    display: flex;
    width: 150px;
  }
  .last-match>a {
    justify-self: center;
  }
  .announcement>p {
    font-size: 18px;
  }
}
